# Import lib

In [1]:
import pandas as pd

# 3. Chatbot Command (URL)

This csv is a list of example of user in Dashboard cmd and Function cmd. \
\
TYPE = OPEN_URL_SPECIAL -> URL for Dashboard Cmd. \
TYPE = OPEN_URL         -> URL for Function Cmd. 

1 error with the above rule:\
ID=                            1\
CODE=     Mở màn hình trình chiếu\
URL=      /slide/pages/slide-show\
TYPE=            OPEN_URL_SPECIAL\

In [2]:
# Mở file chat bot command
chat_cmd = pd.read_csv("/Users/tranxuanhuy/Documents/Viettel Digital Talent/Chatbot/Code/data/CHAT_BOT_COMMAND_202307280942.csv")

In [3]:
chat_cmd.head()

,ID,CODE,URL,TYPE
0,58,Mở đát bót chỉ huy Tập đoàn ngày,/pages/screen/2354,OPEN_URL_SPECIAL
1,73,Mở dashboard chỉ huy VTC tháng,/pages/screen/2701,OPEN_URL_SPECIAL
2,74,Mở đát bót VTC tháng,/pages/screen/2701,OPEN_URL_SPECIAL
3,75,Mở đát bọt chỉ huy VTC tháng,/pages/screen/2701,OPEN_URL_SPECIAL
4,84,Mở dashboard chỉ huy Công ty mẹ tháng,/pages/screen/9682,OPEN_URL_SPECIAL

In [7]:
len(chat_cmd['URL'].unique())

237

In [108]:
# Check error: 
chat_cmd[chat_cmd['ID']==1]

     ID                     CODE                      URL              TYPE
622   1  Mở màn hình trình chiếu  /slide/pages/slide-show  OPEN_URL_SPECIAL

In [109]:
# Remove error
chat_cmd

,ID,CODE,URL,TYPE
0,58,Mở đát bót chỉ huy Tập đoàn ngày,/pages/screen/2354,OPEN_URL_SPECIAL
1,73,Mở dashboard chỉ huy VTC tháng,/pages/screen/2701,OPEN_URL_SPECIAL
2,74,Mở đát bót VTC tháng,/pages/screen/2701,OPEN_URL_SPECIAL
3,75,Mở đát bọt chỉ huy VTC tháng,/pages/screen/2701,OPEN_URL_SPECIAL
4,84,Mở dashboard chỉ huy Công ty mẹ tháng,/pages/screen/9682,OPEN_URL_SPECIAL
...,...,...,...,...
5482,5643,Mở DB chỉ huy Viettel Post ngày,/pages/screen/3030,OPEN_URL_SPECIAL
5483,5642,Mở DB Viettel Post ngày,/pages/screen/3030,OPEN_URL_SPECIAL
5484,5641,Mở dashboard Viettel Post ngày,/pages/screen/3030,OPEN_URL_SPECIAL
5485,5640,Mở dashboard chỉ huy Viettel Post ngày,/pages/screen/3030,OPEN_URL_SPECIAL
5486,5644,Mở DB chỉ huy Viettel Solution ngày,/pages/screen/3229,OPEN_URL_SPECIAL

In [ ]:
# URL for Dashboard
dashboard = chat_cmd[chat_cmd['TYPE']=='OPEN_URL_SPECIAL']
dashboard.drop([1])
dashboard.reset_index(inplace=True)
dashboard.tail()

In [111]:
# Số URL
len(list(set(dashboard['URL'])))

186

In [112]:
profiles = [
    'db chỉ huy',
    'db',
    'DB chỉ huy',
    'DB',
    'Dashboard chỉ huy',
    'Dashboard',
    'dashboard chỉ huy',
    'dashboard',
    'đát bọt chỉ huy',
    'đát bọt',
    'đát bót chỉ huy',
    'đát bót'
]

In [113]:
temp_list = dashboard[dashboard['URL']=='/pages/screen/6295']['CODE'].tolist()
check = []
for i in temp_list:
    for profile in profiles:
        if profile in i:
            check.append(profile)
print(list(set(check)))
temp_list

['DB', 'dashboard chỉ huy', 'dashboard', 'DB chỉ huy']

['Mở dashboard chỉ huy TNN ngày',
 'Mở dashboard chỉ huy Thái Nguyên ngày',
 'Mở DB chỉ huy Thái Nguyên ngày',
 'Mở DB TNN ngày',
 'Mở DB chỉ huy TNN ngày',
 'Mở dashboard TNN ngày',
 'Mở DB Thái Nguyên ngày',
 'Mở dashboard Thái Nguyên ngày',
 'Mở dashboard viettel TNN ngày',
 'Mở dashboard viettel Thái Nguyên ngày',
 'Mở DB viettel TNN ngày',
 'Mở DB viettel Thái Nguyên ngày',
 'Mở dashboard chỉ huy viettel Thái Nguyên ngày',
 'Mở dashboard chỉ huy viettel TNN ngày',
 'Mở DB chỉ huy viettel TNN ngày',
 'Mở DB chỉ huy viettel Thái Nguyên ngày']

In [114]:
profiles_chihuy = ['chỉ huy']
dashboard_cmd = dashboard['CODE']
IDS = []
for i, line in enumerate(dashboard_cmd):
    count = 0
    for profile in profiles_chihuy:
        if profile in line:
            count += 1
    if count > 0:
        IDS.append(i)
print("List dashboard's id that have profile name 'chỉ huy' in above 'profiles' list:")
print(len(IDS))

List dashboard's id that have profile name 'chỉ huy' in above 'profiles' list:
2714

In [115]:
profiles = ["đát bót", "đát bọt", "dashboard", "Dashboard", "DB", "db"]
profiles = [i + " chỉ huy" for i in profiles]
for i, line in enumerate(dashboard_cmd):
    count = 0
    for profile in profiles:
        if profile in line:
            count += 1
    if count > 0:
        IDS.remove(i)
print("List dashboard's id that are not have profile name in above 'profiles' list:")
print(IDS)

List dashboard's id that are not have profile name in above 'profiles' list:
[]

In [116]:
chat_cmd['TYPE'].value_counts()

OPEN_URL_SPECIAL    5433
OPEN_URL              54
Name: TYPE, dtype: int64

# 5. Dashboard Param Tree

3 columns 1 biến: "STATUS", "TYPE_PARAM", "GROUP_TYPE" \
6 columns Nan full: "PARAM_ORDER_SMS", "DEPT_ORDER", "SUB_CODE", "IMAGE", "START_TIME", "END_TIME" \
1 column do not need: "MODIFIED_DATE"

CODE - NAME: song ánh
Parent: Tỉnh (Example: T027: Tuyên Quang)

In [117]:
# Dashboard param tree
dashboard_param = pd.read_csv("/Users/tranxuanhuy/Documents/Viettel Digital Talent/Chatbot/Code/data/DASHBOARD_PARAM_TREE_202307280939.csv")
dashboard_param.drop(columns=["PARAM_ORDER_SMS", "DEPT_ORDER", "SUB_CODE", "IMAGE",
                              "STATUS", "TYPE_PARAM", "GROUP_TYPE",
                              "START_TIME", "END_TIME",
                              "MODIFIED_DATE"], inplace=True)

In [118]:
dashboard_param.head()

,CODE,NAME,PARENT,PARAM_ORDER,LEVEL_NODE,ID,DEPT_ID,PARENT_DEPT_ID,STANDARD_NAME
0,VTG_METFONE,"Metfone_CT Viettel Cambodia Pte., Ltd",VTG,0,11.0,100676,308469,256.0,NaN
1,TTTT,VTSport_TT Thể thao Viettel,CPLTM,5,NaN,100698,2108,308480.0,NaN
2,HVT,VTAca_Học viện Viettel,CPLTM,4,NaN,100699,305965,308480.0,NaN
3,VTH,TT KD Sản phẩm công nghệ cao Viettel,SXTBCNC_HHL,1,NaN,100724,7920,308482.0,NaN
4,VTEK,TT Nghiên cứu công nghệ mạng Viettel,SXTBCNC_HHL,0,NaN,100725,1709,308482.0,NaN

In [119]:
dashboard_param[dashboard_param['CODE']=='VTS']

,CODE,NAME,PARENT,PARAM_ORDER,LEVEL_NODE,ID,DEPT_ID,PARENT_DEPT_ID,STANDARD_NAME
39,VTS,VTS_TCT Giải pháp Doanh nghiệp Viettel,GPCNDV,0,NaN,100667,8987,308467.0,NaN

In [120]:
compare2 = dashboard_param['CODE'].unique().tolist()
compare2 = [i.strip() for i in compare2]

# DEADLINE: Thông tin của tất cả các trường thông tin

## Dashboard
Tên lệnh: Có 2 loại: "Mở" và "mở" \
Tên profile: Có 12 loại \
Đơn vị X: Có nhiều và chưa có default đơn vị -> Nhiều cách viết \
Thời gian: 4 loại "ngày", "tháng", "năm", "Tháng"

In [121]:
import warnings
warnings.filterwarnings("ignore")

In [122]:
# Tên lệnh
lenhs = ["Mở", "mở"]

# Check: all profile name are in above profiles list
dashboard_cmd = dashboard['CODE']
dashboard['lenh'] = ""
dashboard['cmd_rm_lenh'] = ""
IDS = [i for i in range(5433)]
for i, line in enumerate(dashboard_cmd):
    count = 0
    for lenh in lenhs:
        if lenh in line:
            count += 1
            dashboard.loc[i, "lenh"] = lenh
            cmd_rm_lenh = line.replace(lenh, "")
            dashboard.loc[i, "cmd_rm_lenh"] = cmd_rm_lenh
            break
    if count > 0:
        IDS.remove(i)
print("List dashboard's id that are not have profile name in above 'cmds' list:")
print(IDS)

List dashboard's id that are not have profile name in above 'cmds' list:
[]

In [123]:
# Tên profile
profiles = ["đát bót", "đát bọt", "dashboard", "Dashboard", "DB", "db"]

# Check: all profile name are in above profiles list
dashboard_cmd = dashboard['cmd_rm_lenh']
IDS = [i for i in range(5433)]
IDS.remove(568)
for i, line in enumerate(dashboard_cmd):
    count = 0
    for profile in profiles:
        if profile in line:
            count += 1
    if count > 0:
        IDS.remove(i)
        
print("List dashboard's id that are not have profile name in above 'profiles' list:")
print(IDS)

# Check

List dashboard's id that are not have profile name in above 'profiles' list:
[]

In [124]:
# Tên profile
profiles = ["đát bót", "đát bót chỉ huy",
            "đát bọt", "đát bọt chỉ huy",
            "dashboard", "dashboard chỉ huy",
            "Dashboard", "Dashboard chỉ huy",
            "DB", "DB chỉ huy",
            "db", "db chỉ huy"]

# Check: all profile name are in above profiles list
dashboard_cmd = dashboard['cmd_rm_lenh']
dashboard['profile'] = ""
dashboard['cmd_rm_lenh_profiles'] = ""

IDS = [i for i in range(5433)]
IDS.remove(568)
for i, line in enumerate(dashboard_cmd):
    count = 0
    fin = 0
    while fin == 0:
        fin = 1
        for profile in profiles[::-1]:
            if count == 0:
                if profile in line:
                    count += 1
                    fin = 0
                    dashboard.loc[i, "profile"] = profile
                    cmd_rm_profile = line.replace(profile, "")
                    dashboard.loc[i, "cmd_rm_lenh_profiles"] = cmd_rm_profile
                    break
            else:
                line = dashboard.loc[i, "cmd_rm_lenh_profiles"]
                if profile in line:
                    count += 1
                    fin = 0
                    # dashboard.loc[i, "profile"] = profile
                    cmd_rm_profile = line.replace(profile, "")
                    dashboard.loc[i, "cmd_rm_lenh_profiles"] = cmd_rm_profile
                    break

    if count > 0:
        IDS.remove(i)
        

print("List dashboard's id that are not have profile name in above 'profiles' list:")
print(IDS)

List dashboard's id that are not have profile name in above 'profiles' list:
[]

In [131]:
# Thời gian & chu kỳ thời gian
db_times = ["ngày", "tháng", "năm", "Tháng"]
db_times = ["ngày", "tháng", 'Tháng']

# Check: all profile name are in above profiles list
dashboard_cmd = dashboard['cmd_rm_lenh_profiles']
dashboard['time'] = ""
dashboard['cmd_rm_lenh_profiles_times'] = ""
IDS = [i for i in range(5433)]
IDS.remove(568)
for i, line in enumerate(dashboard_cmd):
    count = 0
    for time in db_times:
        if time in line:
            count += 1
            dashboard.loc[i, "time"] = time
            cmd_rm_profile_time = line.replace(time, "")
            dashboard.loc[i, "cmd_rm_lenh_profiles_times"] = cmd_rm_profile_time
            break
    if count > 0:
        IDS.remove(i)
print("List dashboard's id that are not have profile name in above 'db_times' list:")
print(IDS)

List dashboard's id that are not have profile name in above 'db_times' list:
[]

In [126]:
# Đơn vị X
a = dashboard['cmd_rm_lenh_profiles_times'].tolist()
a = [i.strip() for i in a]
a = list(set(a))
a[:5]

['CTO', '', 'CT Viettel Timor Leste', 'Công ty Timor Leste', 'CT TNHH IDC']

In [127]:
dashboard

,index,ID,CODE,URL,TYPE,lenh,cmd_rm_lenh,profile,cmd_rm_lenh_profiles,time,cmd_rm_lenh_profiles_times
0,0,58,Mở đát bót chỉ huy Tập đoàn ngày,/pages/screen/2354,OPEN_URL_SPECIAL,Mở,đát bót chỉ huy Tập đoàn ngày,đát bót chỉ huy,Tập đoàn ngày,ngày,Tập đoàn
1,1,73,Mở dashboard chỉ huy VTC tháng,/pages/screen/2701,OPEN_URL_SPECIAL,Mở,dashboard chỉ huy VTC tháng,dashboard chỉ huy,VTC tháng,tháng,VTC
2,2,74,Mở đát bót VTC tháng,/pages/screen/2701,OPEN_URL_SPECIAL,Mở,đát bót VTC tháng,đát bót,VTC tháng,tháng,VTC
3,3,75,Mở đát bọt chỉ huy VTC tháng,/pages/screen/2701,OPEN_URL_SPECIAL,Mở,đát bọt chỉ huy VTC tháng,đát bọt chỉ huy,VTC tháng,tháng,VTC
4,4,84,Mở dashboard chỉ huy Công ty mẹ tháng,/pages/screen/9682,OPEN_URL_SPECIAL,Mở,dashboard chỉ huy Công ty mẹ tháng,dashboard chỉ huy,Công ty mẹ tháng,tháng,Công ty mẹ
...,...,...,...,...,...,...,...,...,...,...,...
5428,5482,5643,Mở DB chỉ huy Viettel Post ngày,/pages/screen/3030,OPEN_URL_SPECIAL,Mở,DB chỉ huy Viettel Post ngày,DB chỉ huy,Viettel Post ngày,ngày,Viettel Post
5429,5483,5642,Mở DB Viettel Post ngày,/pages/screen/3030,OPEN_URL_SPECIAL,Mở,DB Viettel Post ngày,DB,Viettel Post ngày,ngày,Viettel Post
5430,5484,5641,Mở dashboard Viettel Post ngày,/pages/screen/3030,OPEN_URL_SPECIAL,Mở,dashboard Viettel Post ngày,dashboard,Viettel Post ngày,ngày,Viettel Post
5431,5485,5640,Mở dashboard chỉ huy Viettel Post ngày,/pages/screen/3030,OPEN_URL_SPECIAL,Mở,dashboard chỉ huy Viettel Post ngày,dashboard chỉ huy,Viettel Post ngày,ngày,Viettel Post
5432,5486,5644,Mở DB chỉ huy Viettel Solution ngày,/pages/screen/3229,OPEN_URL_SPECIAL,Mở,DB chỉ huy Viettel Solution ngày,DB chỉ huy,Viettel Solution ngày,ngày,Viettel Solution

In [128]:
processed_dashboard = dashboard[['CODE', 'URL', 'lenh', 'profile', 'time', 'cmd_rm_lenh_profiles_times']]
processed_dashboard

,CODE,URL,lenh,profile,time,cmd_rm_lenh_profiles_times
0,Mở đát bót chỉ huy Tập đoàn ngày,/pages/screen/2354,Mở,đát bót chỉ huy,ngày,Tập đoàn
1,Mở dashboard chỉ huy VTC tháng,/pages/screen/2701,Mở,dashboard chỉ huy,tháng,VTC
2,Mở đát bót VTC tháng,/pages/screen/2701,Mở,đát bót,tháng,VTC
3,Mở đát bọt chỉ huy VTC tháng,/pages/screen/2701,Mở,đát bọt chỉ huy,tháng,VTC
4,Mở dashboard chỉ huy Công ty mẹ tháng,/pages/screen/9682,Mở,dashboard chỉ huy,tháng,Công ty mẹ
...,...,...,...,...,...,...
5428,Mở DB chỉ huy Viettel Post ngày,/pages/screen/3030,Mở,DB chỉ huy,ngày,Viettel Post
5429,Mở DB Viettel Post ngày,/pages/screen/3030,Mở,DB,ngày,Viettel Post
5430,Mở dashboard Viettel Post ngày,/pages/screen/3030,Mở,dashboard,ngày,Viettel Post
5431,Mở dashboard chỉ huy Viettel Post ngày,/pages/screen/3030,Mở,dashboard chỉ huy,ngày,Viettel Post
5432,Mở DB chỉ huy Viettel Solution ngày,/pages/screen/3229,Mở,DB chỉ huy,ngày,Viettel Solution

# Analyze

In [129]:
processed_dashboard

,CODE,URL,lenh,profile,time,cmd_rm_lenh_profiles_times
0,Mở đát bót chỉ huy Tập đoàn ngày,/pages/screen/2354,Mở,đát bót chỉ huy,ngày,Tập đoàn
1,Mở dashboard chỉ huy VTC tháng,/pages/screen/2701,Mở,dashboard chỉ huy,tháng,VTC
2,Mở đát bót VTC tháng,/pages/screen/2701,Mở,đát bót,tháng,VTC
3,Mở đát bọt chỉ huy VTC tháng,/pages/screen/2701,Mở,đát bọt chỉ huy,tháng,VTC
4,Mở dashboard chỉ huy Công ty mẹ tháng,/pages/screen/9682,Mở,dashboard chỉ huy,tháng,Công ty mẹ
...,...,...,...,...,...,...
5428,Mở DB chỉ huy Viettel Post ngày,/pages/screen/3030,Mở,DB chỉ huy,ngày,Viettel Post
5429,Mở DB Viettel Post ngày,/pages/screen/3030,Mở,DB,ngày,Viettel Post
5430,Mở dashboard Viettel Post ngày,/pages/screen/3030,Mở,dashboard,ngày,Viettel Post
5431,Mở dashboard chỉ huy Viettel Post ngày,/pages/screen/3030,Mở,dashboard chỉ huy,ngày,Viettel Post
5432,Mở DB chỉ huy Viettel Solution ngày,/pages/screen/3229,Mở,DB chỉ huy,ngày,Viettel Solution

In [130]:
url_list = list(set(processed_dashboard['URL']))
stat = []
for url in url_list:
    stat.append(len(list(set(processed_dashboard[processed_dashboard['URL']==url]['time']))))
    if len(list(set(processed_dashboard[processed_dashboard['URL']==url]['time'])))==2:
        print(url)
        
list(set(stat))

/pages/screen/6615
/pages/screen/3235

[1, 2]