In [2]:
import pandas as pd
import json
from copy import deepcopy
import numpy as np
import math
import random
import warnings
warnings.filterwarnings("ignore")

In [3]:
getDashboard = pd.read_csv("/Users/tranxuanhuy/Documents/Viettel Digital Talent/Chatbot/Code/data/Du lieu api/getDashboard.csv")
getDashboard["CYCLETIME"] = getDashboard["CYCLETIME"].apply(lambda x: "THANG" if x == 2 else "NGAY")
getListChart = pd.read_excel("/Users/tranxuanhuy/Documents/Viettel Digital Talent/Chatbot/Code/data/Du lieu api/getListChart_202309121406.xlsx")

In [4]:
getDashboard[getDashboard['DASHBOARDID']==2685]

,GROUPPROFILECODE,CYCLETIME,AREACODE,DASHBOARDID,DASHBOARDNAME
1786,VPTD,NGAY,VTC,2685,Thuê bao 4G phát triển thực

In [5]:
getDashboard

,GROUPPROFILECODE,CYCLETIME,AREACODE,DASHBOARDID,DASHBOARDNAME
0,VPTD,NGAY,H031,3581,Doanh thu dịch vụ nhóm VTT
1,VPTD,NGAY,H031,3582,Doanh thu dịch vụ nhóm VDS
2,VPTD,THANG,H321,3517,Doanh thu dịch vụ SME
3,VPTD,THANG,H321,3518,Doanh thu dịch vụ di động
4,VPTD,THANG,H321,3519,Doanh thu dịch vụ nhóm VTS
...,...,...,...,...,...
3935,DB_CNTT,THANG,VTTNEWNEW,11159,HỆ THỐNG ĐƯỢC TÍCH HỢP VÀO DOC
3936,DB_CNTT,THANG,VTTNEWNEW,11160,LEAD TIME
3937,DT_TC,THANG,XNK,11216,IDC_11216
3938,DT_TC,THANG,XNK,11217,LỢI NHUẬN TRƯỚC THUẾ_11217
3939,DT_TC,THANG,XNK,11218,DOANH THU TÀI CHÍNH_11218

In [6]:
def test(cycleTime, areacode):
    a = getDashboard[(getDashboard['CYCLETIME']==cycleTime)&(getDashboard['AREACODE']==areacode)]
    return a

cycleTime = 'NGAY'
areaCode = 'CTM'
test(cycleTime, areaCode)

,GROUPPROFILECODE,CYCLETIME,AREACODE,DASHBOARDID,DASHBOARDNAME
243,BCL,NGAY,CTM,4917,6. Doanh thu dịch vụ và sản xuất
1855,BCL,NGAY,CTM,1804,CÔNG TY MẸ
3107,BCL,NGAY,CTM,1568,4. Thuê bao thực tăng giảm
3109,BCL,NGAY,CTM,1569,5. Thuê bao thực 4G tăng giảm
3112,BCL,NGAY,CTM,1570,1. Doanh thu Cộng ngang
3113,BCL,NGAY,CTM,1571,3. Tiêu dùng
3114,BCL,NGAY,CTM,1572,2. Doanh thu dịch vụ
3601,VPTD,NGAY,CTM,9715,TỔNG DOANH THU (BÁN THẺ)
3602,VPTD,NGAY,CTM,9716,TỔNG DOANH THU (TIÊU DÙNG)
3641,VPTD,NGAY,CTM,9664,TỔNG DOANH THU (KD)
3645,VPTD,NGAY,CTM,9668,CTM

In [9]:
service_id_all = pd.read_csv("/Users/tranxuanhuy/Documents/Viettel Digital Talent/Chatbot/Code/data/SERVICE_GBTD_202309051334.csv")
service_id_list = list(set(service_id_all['SERVICE_ID']))
service_id_dictionary = {u: list(set(service_id_all[service_id_all['SERVICE_ID']==u]['SERVICE_NAME']))[0] for u in service_id_list}
getListChart['SERVICE_NAME'] = getListChart['SERVICEID'].apply(lambda i: service_id_dictionary[i] if i in service_id_dictionary.keys() else "")
getListChart

,SERVICEID,AREACODE,CYCLETIME,TYPECHART,CHARTID,TITLECHART,TYPE_CHART,SERVICE_NAME
0,157,A076,NAM,Biểu đồ đường,8340,AGG_DTDV CỐ ĐỊNH_TỪNG NĂM,LINE,Doanh thu cố định
1,20212510,A076,NAM,Biểu đồ đường,8368,AGG_DTDV NHÓM VDS_TỪNG NĂM,LINE,DT dịch vụ nhóm DV của VDS
2,20214132,A076,NAM,Biểu đồ đường,8357,AGG_DTDV NHÓM VTS_TỪNG NĂM,LINE,DT dịch vụ nhóm DV của VTS
3,20214133,A076,NAM,Biểu đồ đường,8326,AGG_DTDV NHÓM VTT_TỪNG NĂM,LINE,DT dịch vụ nhóm DV của VTT
4,5066,A076,NAM,Biểu đồ đường,8348,AGG_DTDV SME_TỪNG NĂM,LINE,Doanh thu dịch vụ SME
...,...,...,...,...,...,...,...,...
35508,1314,STL,THANG,Biểu đồ cột,5332,rpm thoại Xu hướng tháng,COLUMN,RPM thoại
35509,1144,TD,THANG,Biểu đồ cột chồng,21918,test cột chồng,STACK,DOANH THU DỊCH VỤ (trừ hubbing)
35510,143,TD,THANG,Biểu đồ cột chồng,21918,test cột chồng,STACK,DOANH THU DỊCH VỤ (chi tiết)
35511,1202103,VDS,THANG,Biểu đồ đường,22573,ĐIỂM CHẤP NHẬN THANH TOÁN PSGD_TỪNG THÁNG,LINE,Số lượng điểm Chấp nhận thanh toán PSGD lũy kế
35512,1202102,VDS,THANG,Biểu đồ cột,22573,ĐIỂM CHẤP NHẬN THANH TOÁN PSGD_TỪNG THÁNG,COLUMN,Số lượng điểm Chấp nhận thanh toán PSGD tăng thêm

In [14]:
getListChart[getListChart['AREACODE']=='TD']

,SERVICEID,AREACODE,CYCLETIME,TYPECHART,CHARTID,TITLECHART,TYPE_CHART,SERVICE_NAME
398,19,TD,NAM,LINE_DASHED chart,13663,DOANH THU CỘNG NGANG_TỪNG NĂM,LINE_DASHED,TỔNG DOANH THU (chi tiết)
399,19,TD,NAM,Biểu đồ đường,13663,DOANH THU CỘNG NGANG_TỪNG NĂM,LINE,TỔNG DOANH THU (chi tiết)
400,19,TD,NAM,Biểu đồ đường,20382,DOANH THU CỘNG NGANG_TỪNG NĂM,LINE,TỔNG DOANH THU (chi tiết)
401,19,TD,NAM,LINE_DASHED chart,20382,DOANH THU CỘNG NGANG_TỪNG NĂM,LINE_DASHED,TỔNG DOANH THU (chi tiết)
438,200118,TD,NAM,LINE_DASHED chart,5877,DT CỘNG NGANG (TC)_TỪNG NĂM,LINE_DASHED,Tổng doanh thu Tài chính
...,...,...,...,...,...,...,...,...
35288,19,TD,THANG,Biểu đồ đường,846,Xu hướng năm lũy kế đến tháng,LINE,TỔNG DOANH THU (chi tiết)
35289,143,TD,THANG,Biểu đồ đường,5794,Xu hướng năm lũy kế đến tháng,LINE,DOANH THU DỊCH VỤ (chi tiết)
35290,4,TD,THANG,Biểu đồ cột,4294,Xu hướng năm lũy kế đến tháng,COLUMN,TD THỰC DV DI ĐỘNG (TS+TT)
35509,1144,TD,THANG,Biểu đồ cột chồng,21918,test cột chồng,STACK,DOANH THU DỊCH VỤ (trừ hubbing)
35510,143,TD,THANG,Biểu đồ cột chồng,21918,test cột chồng,STACK,DOANH THU DỊCH VỤ (chi tiết)

In [8]:
def test(typechart, cycleTime, areacode, service_id):
    a = getListChart[(getListChart['CYCLETIME']==cycleTime)&(getListChart['AREACODE']==areacode)&(getListChart['TYPECHART']==typechart)&(getListChart['SERVICEID']==service_id)]
    return a

cycleTime = 'NGAY'
areaCode = 'TD'
typechart = 'Biểu đồ cột'
service_id = 19
test(typechart, cycleTime, areaCode, service_id)

,SERVICEID,AREACODE,CYCLETIME,TYPECHART,CHARTID,TITLECHART,TYPE_CHART
4098,19,TD,NGAY,Biểu đồ cột,19619,Biểu đồ cột_Mai test,COLUMN
4101,19,TD,NGAY,Biểu đồ cột,19621,Biểu đồ cột_Mai test Copy(19621),COLUMN
4103,19,TD,NGAY,Biểu đồ cột,19609,Biểu đồ cột_ha test,COLUMN
4108,19,TD,NGAY,Biểu đồ cột,19620,Biểu đồ đường kết hợp cột_ test,COLUMN
5089,19,TD,NGAY,Biểu đồ cột,1928,Doanh thu cộng ngang (KD) Xu hướng ngày,COLUMN
7736,19,TD,NGAY,Biểu đồ cột,3169,TẬP ĐOÀN - TỈ LỆ HOÀN THÀNH DOANH THU TIẾN ĐỘ ...,COLUMN
7749,19,TD,NGAY,Biểu đồ cột,5843,TẬP ĐOÀN_DOANH THU CỘNG NGANG_TIẾN ĐỘ NĂM CÁC ...,COLUMN
7771,19,TD,NGAY,Biểu đồ cột,5841,TẬP ĐOÀN_DOANH THU CỘNG NGANG_TIẾN ĐỘ QUÝ CÁC ...,COLUMN
7794,19,TD,NGAY,Biểu đồ cột,5026,TẬP ĐOÀN_DOANH THU CỘNG NGANG_TIẾN ĐỘ THÁNG CÁ...,COLUMN
7806,19,TD,NGAY,Biểu đồ cột,7781,TẬP ĐOÀN_DOANH THU CỘNG NGANG_TĂNG TRƯỞNG THÁN...,COLUMN
8932,19,TD,NGAY,Biểu đồ cột,2011,Tổng doanh thu_CÁC ĐƠN VỊ HOÀN THÀNH KẾ HOẠCH ...,COLUMN
10546,19,TD,NGAY,Biểu đồ cột,4009,Xu hướng năm lũy kế đến ngày,COLUMN